{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комплектуючі</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body class="d-flex flex-column min-vh-100 bg-dark text-light">

{% include 'header.html' %}

<div class="container my-4">
    <h2 class="text-light text-center mb-4">Комплектуючі</h2>
    <div class="row">
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Процесори</h6>
                    <img src="https://i.postimg.cc/Hn7HmPcR/cpu.png" class="card-img-top p-4" alt="">
                <a href="/components/cpus/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі процесори</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Материнські плати</h6>
                    <img src="https://i.postimg.cc/DyXy3m10/mb.png" class="card-img-top p-4" alt="">
                <a href="/components/motherboards/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі материнські плати</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Відеокарти</h6>
                    <img src="https://i.postimg.cc/44MN0p7j/gpu.png" class="card-img-top p-4" alt="">
                <a href="/components/gpus/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі відеокарти</a>
            </div>
        </div>

        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">ОЗП</h6>
                    <img src="https://i.postimg.cc/Pf8PT6jd/ram.png" class="card-img-top p-4" alt="">
                <a href="/components/rams/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі ОЗП</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Накопичувачі</h6>
                    <img src="https://i.postimg.cc/ZKt0Rrbp/ssd.png" class="card-img-top p-4" alt="">
                <a href="/components/storages/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі накопичувачі</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Блоки живлення</h6>
                    <img src="https://i.postimg.cc/yx9djNPD/psu.png" class="card-img-top p-4" alt="">
                <a href="/components/psus/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі блоки живлення</a>
            </div>
        </div>

        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Системи охолодження</h6>
                    <img src="https://i.postimg.cc/htGnPjdV/cooler.png" class="card-img-top p-4" alt="">
                <a href="/components/coolers/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі системи охолодження</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Рідинні охолодження</h6>
                    <img src="https://i.postimg.cc/HszHg5Vp/aio.png" class="card-img-top p-4" alt="">
                <a href="/components/aios/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі рідинні охолодження</a>
            </div>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title mb-2 fw-bold text-center" style="min-height: 46px;">Корпуси</h6>
                    <img src="https://i.postimg.cc/JzdLyLNv/case.png" class="card-img-top p-4" alt="">
                <a href="/components/cases/" class="btn btn-outline-mainpurple w-100 mb-2 text-light">Всі корпуси</a>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
